body {
  background-color: rgb(27, 9, 77);
}

header {
  color: rgb(255, 255, 255);
  font: normal 15px arial;
  text-align: center;
}

section {
  background: beige;
  border-radius: 15px;
  padding: 15px;
  width: 400px;
  margin: auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.671);
  opacity: 90%;
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
}
div {
  text-align: center;
  padding: 8px;
}
.texto {
  font-style: normal;
  font-size: 20pt;
  font-family: monospace;
}

.imag {
  height: 250px;
  border-radius: 280px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.425);
}

#saldação {
  font-style: italic;
}
